<!DOCTYPE html>
<html>
<head>
    <title>RabbitMQ Demo</title>
</head>
<body>
    <h1>RabbitMQ Demo - Django App</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="message">Digite uma mensagem:</label><br>
        <input type="text" id="message" name="message"><br><br>
        <input type="submit" value="Enviar">
    </form>
    <br>
    <h2>Mensagem Recebida:</h2>
    {% if received_message %}
        <p>{{ received_message }}</p>
    {% endif %}
</body>
</html>